Flask ~> 0.12.3
Jinja2==2.7
MarkupSafe==0.18
PyYAML ~> 4.2b1
Pygments==1.6
Sphinx==1.2b1
Werkzeug==0.9.1
docutils==0.11
html5lib==0.95
httplib2==0.8
itsdangerous==0.21
nose==1.2.1
oauth2==1.5.211
python-twitter==1.0
readline==6.2.4.1
regetron==1.4
tornado==3.1.1
virtualenv==1.9.1
wsgiref==0.1.2
