<html>
	<head>
    <title>solidarity.</title>
    <link rel="stylesheet" type="text/css" href="static/styles-about.css">
	</head>
    <body>
    	<div id="rect">
    		<h1>SOLIDARITY</h1>
        	<p>This site is a sister project to <a href="http://www.slutsacrossamerica.org"><strong>'Sluts Across America'</strong></a>.</br>
			We take all of the text that has been submitted via that project and remix it.
			</p>
        	<p><a href="/"><strong>main</strong></a></br>
    	</div>
    </body>
</html>